.show {
    display: block;
}
.delete-button {
    cursor: pointer;
    background-image: url("img/delete-remove-uncheck-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: none;
    background-position-x: 70px;
    transition: background-position-x 0.3s;
}
tr:hover .delete-button {
    background-position-x: 0;
}
.user-id{
    width: 20px;
}
.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toast {
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    z-index: 999;
    display: none;
}
.toast:not(.show) {
    display: block;
}
.invalid{
    display: block;
}