.show {
    display: block;
}
.delete-button {
    cursor: pointer;
    background-image: url("img/delete-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    background-position-x: 70px;
    transition: background-position-x 0.3s;
}
tr:hover .delete-button {
    background-position-x: 0;
}
td{
    max-width: 200px;
}
.user-id{
    width: 20px;
}
